@model WikEpub.Models.EpubFile
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Epub Book";
}
<div id="main-input-container">
    <form id="main-form" asp-controller="Home" asp-action="CreateEpub">
        <p id="title-input">
            Book Title: <input asp-for="BookTitle" name="bookTitle" />
        </p>
        <p>
            Wikipedia url: <input name="WikiPages" id="input1" class="url-input" /> <button id="add-button" type="button">Add wikipage</button><button id ="remove-button" type="button" >Remove wikipage</button>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>

</div>



<script src="~/js/download.js" asp-append-version="true"></script>


