@model WikEpub.Models.EpubFile
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Book";
}
<div id="main-input-container">
    <form id="main-form" asp-controller="Home" asp-action="CreateEpub">
        <div id="title-container">
            <h4 style="text-decoration:underline">Book Title</h4>
            <div id="title-input">
                <input id="book-title" asp-for="BookTitle" name="bookTitle" required />
                <span id="title-cross">&#x2718</span>
            </div>
        </div>
        <div id="url-link-container">
            <h4 style="text-decoration:underline">Wikipedia Links</h4>
            <div id="input-frame-1">
                <input name="WikiPages" id="input1" class="url-input" />
                <span id="url-cross-1">&#x2718</span>
            </div>
        </div>
        <div id="button-container">
            <button id="submit-button" type="submit" disabled>Submit</button>
            <button id="add-button" type="button">Add wikipage</button>
            <button id="remove-button" type="button">Remove wikipage</button>
        </div>
    </form>
</div>


<script src="~/js/DownloadForm.js" type="module"></script>


