<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" runat="server" type="text/css" />
    <title>@ViewData["Title"] - WikEpub</title>
</head>
<body>
    <div class="main-grid">
        <div id="header-container" >
            <h1 id="title">
                WIKEPUB   <img src="~/images/book-open.svg" alt="WikipubLogo">
            </h1>
        </div>
        @RenderBody()
        @RenderSection("Scripts", required: false)
        <footer id="footer">
            <div id="donate">Please <a href="https://donate.wikimedia.org/">donate to Wikipedia</a></div>
        </footer>
    </div>
</body>
</html>
