<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WikEpub</title>
</head>
<body>
    <div id="title-container">
        <h1 id="title">WIKEPUB</h1>
    </div>

    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
<script src="~/js/site.js" asp-append-version="true"></script>
</html>
