/*#title{
}
@font-face{
    font-family: 'Hoefler';
    src: url('Font/Hoefler Text Regular.ttf');
}
body{
    font-family: Hoefler;
}
.main-grid{
    display:grid;
    place-items: center;
}

#main-form{
    display:grid;
    grid-template-columns: auto auto;

}


*/
